<div class="grid">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="card">
      <div class="flex flex-column card-container green-container">
        <div
          class="flex align-items-center justify-content-center h-6rem bg-pink-400 font-bold text-white border-round m-1 text-2xl my-1">
          UI-SPEC
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-card>
          <form [formGroup]="uiSpecFiltterForm">
            <div class="grid font-bold">
              <div class="col-2">
                <label>PageImage Name</label>
                <p-autoComplete [dropdown]="true" [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"
                  formControlName="pageImage" [suggestions]="fitterPageImage" (completeMethod)="searchPageImage($event)">
                </p-autoComplete>
              </div>

              <div class="col-2 mt-4">
                <button [style]="{ width: '60%' }" icon="pi pi-search" pButton type="button" label="Search"
                  (click)="queryUISpecs()"></button>
                <button class="p-button-danger ml-2" [style]="{ width: '20%' }" icon="pi pi-times" pButton type="button"
                  (click)="reset()"></button>
              </div>
              <div class="col-1"></div>
              <div class="col-1"></div>
            </div>
          </form>



          <p-table responsiveLayout="scroll" [rowHover]="true" [value]="uiSpecs" [rows]="4" [showCurrentPageReport]="true" [rowsPerPageOptions]="[4, 10, 15]"
            [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            styleClass="p-datatable-sm p-datatable-gridlines">
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width: 100px">Label</th>
                <th style="min-width: 100px">Attribure</th>
                <th style="min-width: 100px">FormType</th>
                <th style="min-width: 100px">Detail</th>
                <th style="min-width: 100px">Event</th>
                <th style="min-width: 100px">PageImage Name</th>
                <th style="min-width: 100px"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-uispec>
              <tr>
                <td style="min-width: 100px">{{ uispec.label }}</td>
                <td style="min-width: 100px">{{ uispec.attribure }}</td>
                <td style="min-width: 100px">{{ uispec.formType.formtypeName }}</td>
                <td style="min-width: 100px">{{ uispec.detail }}</td>
                <td style="min-width: 100px">{{ uispec.event }}</td>
                <td style="min-width: 100px">{{ uispec.pageimage.pageImageName }}</td>
                <td class="flex-space-around">
                  <!-- <button
                    pButton
                    type="button"
                    icon="pi pi-chevron-circle-right"
                    
                  ></button> -->
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                    (click)="gotoEdit(uispec.uispecId)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                    (click)="delete(uispec.uispecId)"></button>

                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8" style="color: red">UI-Spec Not Found.</td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </div>
    <div class="col-10">
      <button pButton pRipple type="button" label="NEW" icon="pi pi-plus"
      class="p-button-outlined p-button-rounded p-button-danger p-button-sm" (click)="gotoSave()"></button>
    </div>
  </div>
  <div class="col-1"></div>
</div>